COMPOSE_PROJECT_NAME=airgap-dev

CODE_SERVER_PORT=8080

CODE_SERVER_PASSWORD=phalanx-nomad

GO_VERSION=1.27.1
GOPLS_VERSION=0.23.0
DELVE_VERSION=1.27.2
STATICCHECK_VERSION=0.8.1
GOIMPORTS_VERSION=0.50.0
GOFUMPT_VERSION=0.12.0

DOTNET_VERSION=10.0.401
CSHARPLS_VERSION=0.28.0

ZARF_VERSION=0.86.0

CODE_SERVER_VERSION=4.139.1

GOLANG_EXT_VERSION=0.56.1
CSHARP_EXT_VERSION=2.145.21-g154a82fd27

TZ=UTC
